/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #FF0070;
  --main-text-color: #F1B2CE;
  --cover-title-color: #DB00FF;
  --main-title-color: #000028;
  --button-border-hover: rgba(255, 0, 112, 0.4);
  --decoration-rec: #FF0070;
}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-image: url("../images/cover-image-dark.png");
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #FF0070;
  --main-text-color: #F1B2CE;
  --cover-title-color: #DB00FF;
  --main-title-color: #000028;
  --button-border-hover: rgba(255, 0, 112, 0.4);
  --decoration-rec: #FF0070;
  }
}